$header-color: #FFFFFF;
$header-color2: #F7F3F2;
$bottom-color: #FF4E50;
$work-color: #444444;
$ster-color: #FF4E50;
$p-color:#666666;
$sub-tetx: #999999;
$des-color: rgba(204, 204, 204, 1);

$bold-w: 700;

$family2:Montserra V;
$family: Montserrat Medium;
$header-small: Roboto Light;

