@font-face {
    font-family: Montserrat Medium;
    src: url(Montserrat-Medium.ttf);
}
@font-face {
    font-family: Montserra V;
    src: url(Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Roboto Light;
    src: url(Roboto-Light.ttf);
}